header {
  background-color: transparent;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  height: 40px;
  width: auto;
}